.Rproj.user
.Rhistory
.RData
.Ruserdata

*_files/

.DS_Store
.DS_Store/

outputs/*/*/absence
outputs/*/*/maxent.log
outputs/*/*/presence
outputs/*/*/species_explain.bat
outputs/*/*/species_omission.csv
outputs/*/*/species.csv
outputs/*/*/species.lambdas

data/
scratch/
single-rasts/
results/